body{
    background-color: #fff;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

header{
    width:100%;
    height:60px;
    background:#000000;
    position:fixed;
    top:0;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:#fff;
}

table {
      width: 60rem;
      border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

a {
   text-decoration: none;
   color: blue;
}

.container{
    text-align:center;
}

#username{
    padding:15px;
    border-radius:10px;
    border : 1px solid #fff;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

#username:focus {
    outline: none;
    border-color: transparent;
}

.focus-a a {
    color:#fff;
}

.focus-a {
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:20%;
}

.form-btn{
    margin-bottom:20px;
    margin-left: 42rem;
}

#button{
    padding:10px;
    border-radius:8px;
    border: 1px solid black;
    background:white;
    color:black;
}

button {
    padding:15px;
    border-radius:10px;
    border: 1px solid black;
    background:black;
    color:#fff;
}