*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0557A5;
    padding: 10px 20px;
    color: white;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.logo img{
    height: 50px;
    margin-left: 50px;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    padding: 0 4px;
    transition: all 0.1s ease;
    margin-left: 5px;
}

.auth-links{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.auth-links a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.nav-links li a:hover {
    border: 3px solid #fff;
    border-right: none;
    border-top: none;
    border-left: none;
}

.login{
    font-weight: bold;
}

.signup{
    padding: 5px 25px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    nav, .auth-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #0056A3;
        text-align: center;
    }


    .nav-links, .auth-links {
        flex-direction: column;
        gap: 10px;
        padding: 0;
        
    }

    .nav-links li {
        width: 100%;
    }
    
    .nav-links li, .auth-links a {
        padding: 10px 30px;
    }

    .hamburger-menu {
        display: flex;
    }

    .show-menu {
        display: flex;
    }

    .login{
        font-weight: bold;
    }

    .signup{
        border: 1px solid transparent;
        font-weight: bold;
    }

    .nav-links{
        margin-top: 100px;
        height: 14rem;
    }

    .show-menu nav, 
    .show-menu .auth-links {
        display: flex;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 40px;
    }
    
    .hamburger-menu span {
        width: 20px;
    }
}