<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" th:href="@{/home.css}">
</head>
<body>

<header>
  <h1>SDT</h1>
  <div class="focus-a">
    <a th:href="@{/companies}">Công Ty</a>
    <a th:href="@{/genderlist}">Giới Tính</a>
  </div>
  <a th:href="@{/register}">
    <button type="button" id="button">Đăng Ký</button>
  </a>
</header>
<div class="container">
  <h1>Danh sách thành viên</h1>

  <div class="form-btn">
    <form action="#" th:action="@{/search}" method="get">
      <input type="text" id="username" name="username" placeholder="Nhập tên">
      <button type="submit">Tìm kiếm</button>
    </form>
  </div>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Giới Tính</th>
      <th>Công Ty</th>
      <th>Họ Và Tên</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Hành Động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.gioitinh}"></td>
      <td th:text="${user.companyname}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.numberphone}"></td>
      <td>
        <a th:href="@{/edit/{id}(id=${user.id})}">Chỉnh sửa</a>
        <br>
        <a th:href="@{/delete/{id}(id=${user.id})}">Xoá</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
    <span th:if="${currentPage > 1}">
        <a th:href="@{/users(page=${currentPage - 1}, size=${size})}">Trước</a>
    </span>
  <span th:if="${currentPage < totalPages}">
        <a th:href="@{/users(page=${currentPage + 1}, size=${size})}">Sau</a>
    </span>
</div>

</body>
</html>
